.group {
  display: block;
}

.keytile {
  border: solid;
  border-color: var(--accent-light-1);
  display: flex;
  justify-content: space-around;
}

.keytile > .field {
  color: var(--accent-light-1);
  display: flex;
}
